.poke{
    width: 300px;
    height: min-content;
    display: inline-block;
    margin: 1%;
    border-radius: 20px;
    padding: 1%;
    text-align: center;
}

#PSY{
    background-color: rgb(172, 29, 160);
}

#EAU{
    background-color: rgb(66, 106, 198);
}

#ELECTRIQUE{
    background-color: rgb(212, 221, 52);
}

#FEU{
    background-color: rgb(198, 77, 66);
}

#NORMAL{
    background-color: rgb(135, 130, 102);
}

.card-text{
    text-align: center;
}

h2{
    text-align: center;
}