.pokedetails{
    width: 96%;
    height: min-content;
    margin: 1%;
    border-radius: 20px;
    padding: 1%;
    
}

#PSY{
    background-color: rgb(172, 29, 160);
}

#EAU{
    background-color: rgb(66, 106, 198);
}

#ELECTRIQUE{
    background-color: rgb(212, 221, 52);
}

#FEU{
    background-color: rgb(198, 77, 66);
}

#NORMAL{
    
    background-color: rgb(79, 79, 79);
}

#DRAGON{
    background-color: rgb(115, 0, 172);
}

#INSECTE{
    background-color: rgb(19, 124, 0);
}

#ROCHE{
    background-color: rgb(135, 130, 102);
}
div{
    display: inline-block;
    text-align: center;
}

#image{
    padding-right: 5%;
}

p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
}

#stats{
    text-align: left;
}

#stats h1{
    font-weight: 900;
    font-size: 1000%;

}